.Header {
  font-family: Times New Roman;
  background-image: url("/Static/Hero.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Year1 {
  background-color: #1c2e4a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23192841' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

.Portfolio {
  height: 100vh;
  width: 100%;
  background-color: #1c2e4a;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23192841' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.Portfolio-container {
  align-items: center;
  display: flex;
  height: 60vh;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.Portfolio-item {
  height: 35vh;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 50vw; /* Adjusted width */
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
  cursor: pointer;
}

.Portfolio-item-1 {
  left: 15%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.Portfolio-item-2,
.Portfolio-item-4 {
  height: 37vh;
  opacity: 0.8;
  width: 50vw; /* Adjusted width */
  z-index: 1;
}

.Portfolio-item-2 {
  left: 30%;
  transform: translateX(-50%);
}

.Portfolio-item-3 {
  box-shadow: -2px 5ox 33px 6px;
  height: 40vh;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  width: 50vw; /* Adjusted width */
  z-index: 2;
}

.Portfolio-item-4 {
  left: 70%;
  transform: translateX(-50%);
}

.Portfolio-item-5 {
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.Portfolio-controls {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  height: 100px;
}

.Portfolio-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  margin: 0 50px;
  padding: 0 12px;
  text-transform: capitalize;
}

/* focus is used when the item is in focus, most of the time through the keyboard so that the user knows.*/
.Portfolio-controls-button:focus {
  outline: none;
}

.Portfolio-controls-previous {
  position: relative;
}

/* before adds something behind */
.Portfolio-controls-previous::before {
  border: solid black;
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 30%;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
}

.Portfolio-controls-previous:hover::before {
  left: -40px;
}

.Portfolio-controls-next {
  position: relative;
}

.Portfolio-controls-next::before {
  border: solid black;
  border-width: 0 5px 5px 0;
  content: "";
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -30px;
  top: 47%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
}

/* ask about the difference between the colons */
.Portfolio-controls-next:hover:before {
  right: -40px;
}

.Portfolio-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.Portfolio nav li {
  background: white;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.Portfolio-nav li.gallery-item-selected {
  background: #555;
}/*# sourceMappingURL=Portfolio.css.map */