body{
    background-image: url('Hero.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Times New Roman;

}
ul li::before {
    content: "\2022";
    color: #1c2e4a;
    font-size: 2rem; 
    display: inline-block;
    width: 1em; 
    margin-left: 1em; 
}
